body {
  max-width: 1000px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
}

.hidden {
  display: none !important;
}

.nav {
  height: 100%;
  width: 30%;
  background-color: #344966;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.inputs {
  background-color: #344966;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.inputs-add-info {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 5%;
}

.buttons {
  background-color: #D2E1EE;
  border: 1px solid black;
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #b4cded;
  border: 1px black solid;
}

input, select {
  background-color: #D2E1EE;
  border: 1px solid black;
}

label {
  color: #D2E1EE;
}

.info-display {
  position: fixed;
  background-color: #D2E1EE;
  text-align: center;
  margin-left: 30%;
  height: 100%;
  width: 70%;
  display: grid;
  column-gap: 1%;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 10% 45% 45%;
}

.info-display-header {
  grid-area: 1 / 2 / 1 / 3;
}

.card {
  margin: 5%;
  background-color: #344966;
  font-size: x-large;
  border-radius: 10px;
  height: auto;
}

.card-name {
  background-color: #b4cded;
  align-items: center;
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 9%;
}

.card-id {
  background-color: hsla(0, 0%, 100%, 0.5);
  font-size: small;
  font-weight: 800;
  text-align: center;
  width: 10%;
  padding: 5%;
  margin: 5% 5% auto auto;
}

.card-interests, .card-status {
  color: #D2E1EE;
  margin: 5%;
  max-height: 30%;
  overflow: scroll;
}

.grid1 {
  grid-area: 2 / 1 / 2 / 2;
}
.grid2 {
  grid-area: 2 / 2 / 2 / 2;
}
.grid3 {
  grid-area: 2 / 3 / 2 / 3;
}
.grid4 {
  grid-area: 3 / 1 / 3 / 2;
}
.grid5 {
  grid-area: 3 / 2 / 3 / 2;
}