body {
  max-width: 1000px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
}

.hidden {
  display: none !important;
}

.nav {
  height: 100%;
  width: 30%;
  background-color: rgb(155, 155, 155);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.inputs {
  background-color: rgb(155, 155, 155);
  padding: 5%;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 5%;
}

.buttons {
  background-color: rgb(196, 196, 196);
  border: 1px solid black;
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

button {

}

.user-display {
  position: fixed;
  background-color: rgb(219, 218, 218);
  text-align: center;
  margin-left: 30%;
  height: 100%;
  width: 70%;
}